<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <!-- disable query limiet, note fastquery is deprecated but this tool use this still-->
    <settings>
      <setting name="Query.MaxItems" value="0" />
    </settings>
    <commands>
      <command name="stockpick:openuserinfo" type="Security.Rights.Reporting.Shell.OpenUserinfo,Security.Rights.Reporting"/>
    </commands>
    <pipelines>
      <initialize>
        <processor type="Security.Rights.Reporting.Pipelines.RegisterWebApiRoutes, Security.Rights.Reporting" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
      </initialize>
      <owin.cookieAuthentication.validateIdentity>
	    <processor type="Sitecore.Owin.Authentication.Pipelines.CookieAuthentication.ValidateIdentity.ValidateSiteNeutralPaths, Sitecore.Owin.Authentication">
	      <siteNeutralPaths hint="list">
	        <path hint="grapql">/api/rightsreporting/</path>
	      </siteNeutralPaths>
	    </processor>
      </owin.cookieAuthentication.validateIdentity>
    </pipelines>
  </sitecore>
</configuration>
